Repository midnightntwrk/midnight-docs, changes with the owners that CODEOWNERS names for each.
All owners: @midnightntwrk/mn-techwriting, @midnightntwrk/mn-devrel, @midnightntwrk/mn-codeowners-docs, @midnightntwrk/mn-codeowners-compact, @midnightntwrk/mn-security, @midnightntwrk/mn-sre

CODEOWNERS:

* @midnightntwrk/mn-techwriting @midnightntwrk/mn-devrel @midnightntwrk/mn-codeowners-docs

/docs/develop/reference/compact/lang-ref.mdx @midnightntwrk/mn-codeowners-compact @midnightntwrk/mn-codeowners-docs
/.github/ISSUE_TEMPLATE/ @midnightntwrk/mn-security @midnightntwrk/mn-sre
/.github/PULL_REQUEST_TEMPLATE/ @midnightntwrk/mn-security @midnightntwrk/mn-sre
/.github/workflows/checkmarx.yaml @midnightntwrk/mn-security @midnightntwrk/mn-sre
/.github/workflows/dependabot.yml @midnightntwrk/mn-security @midnightntwrk/mn-sre
CODE_OF_CONDUCT.md @midnightntwrk/mn-security @midnightntwrk/mn-sre @midnightntwrk/mn-codeowners-docs
CODEOWNERS @midnightntwrk/mn-security @midnightntwrk/mn-sre
CONTRIBUTING.md @midnightntwrk/mn-security @midnightntwrk/mn-sre @midnightntwrk/mn-codeowners-docs
LICENSE @midnightntwrk/mn-security @midnightntwrk/mn-sre
SECURITY.md @midnightntwrk/mn-security @midnightntwrk/mn-sre

doc improv
  .github/ISSUE_TEMPLATE/documentation-improvement.md
Owners: @midnightntwrk/mn-security, @midnightntwrk/mn-sre

remove template
  .github/ISSUE_TEMPLATE/bug-report.md
Owners: @midnightntwrk/mn-security, @midnightntwrk/mn-sre

remove template for feature request
  .github/ISSUE_TEMPLATE/feature-request.md
Owners: @midnightntwrk/mn-security, @midnightntwrk/mn-sre

chore(deps): update dependency @tailwindcss/postcss to v4.1.13
  yarn.lock
Owners: @midnightntwrk/mn-techwriting, @midnightntwrk/mn-devrel, @midnightntwrk/mn-codeowners-docs

chore(deps): update dependency @types/react to v18.3.24
  yarn.lock
Owners: @midnightntwrk/mn-techwriting, @midnightntwrk/mn-devrel, @midnightntwrk/mn-codeowners-docs

chore(deps): update dependency node to v21.7.3
  .nvmrc
Owners: @midnightntwrk/mn-techwriting, @midnightntwrk/mn-devrel, @midnightntwrk/mn-codeowners-docs

chore(deps): update dependency tailwindcss to v4.1.13
  yarn.lock
Owners: @midnightntwrk/mn-techwriting, @midnightntwrk/mn-devrel, @midnightntwrk/mn-codeowners-docs

chore(deps): update yarn to v4.9.4
  package.json
Owners: @midnightntwrk/mn-techwriting, @midnightntwrk/mn-devrel, @midnightntwrk/mn-codeowners-docs

fix(deps): update dependency @mdx-js/react to v3.1.1
  yarn.lock
Owners: @midnightntwrk/mn-techwriting, @midnightntwrk/mn-devrel, @midnightntwrk/mn-codeowners-docs

fix(deps): update dependency dayjs to v1.11.18
  yarn.lock
Owners: @midnightntwrk/mn-techwriting, @midnightntwrk/mn-devrel, @midnightntwrk/mn-codeowners-docs

fix(deps): update dependency docusaurus-pushfeedback to v1.0.9
  yarn.lock
Owners: @midnightntwrk/mn-techwriting, @midnightntwrk/mn-devrel, @midnightntwrk/mn-codeowners-docs

fix(deps): update dependency docusaurus-theme-search-typesense to v0.25.0
  yarn.lock
Owners: @midnightntwrk/mn-techwriting, @midnightntwrk/mn-devrel, @midnightntwrk/mn-codeowners-docs

chore(deps): update dependency @types/node to v20.19.14
  package.json
  yarn.lock
Owners: @midnightntwrk/mn-techwriting, @midnightntwrk/mn-devrel, @midnightntwrk/mn-codeowners-docs

chore(deps): update dependency three to ^0.180.0
  package.json
  yarn.lock
Owners: @midnightntwrk/mn-techwriting, @midnightntwrk/mn-devrel, @midnightntwrk/mn-codeowners-docs

feedback from Kent reviewing lang ref
  blog/2025-08-22-pattern.mdx
  docs/develop/reference/compact/lang-ref.mdx
Owners: @midnightntwrk/mn-techwriting, @midnightntwrk/mn-devrel, @midnightntwrk/mn-codeowners-docs, @midnightntwrk/mn-codeowners-compact

blog: community-board
  blog/2025-08-20-fungible-token-contract-open-zeppelin copy.mdx
  blog/2025-09-15-community-hub.mdx
  blog/authors.yml
Owners: @midnightntwrk/mn-techwriting, @midnightntwrk/mn-devrel, @midnightntwrk/mn-codeowners-docs

correct formatting
  blog/2025-08-20-fungible-token-contract-open-zeppelin copy.mdx
Owners: @midnightntwrk/mn-techwriting, @midnightntwrk/mn-devrel, @midnightntwrk/mn-codeowners-docs

Update 2025-09-15-community-hub.mdx
  blog/2025-09-15-community-hub.mdx
Owners: @midnightntwrk/mn-techwriting, @midnightntwrk/mn-devrel, @midnightntwrk/mn-codeowners-docs

Add sitemap and robot.txt
  docusaurus.config.js
Owners: @midnightntwrk/mn-techwriting, @midnightntwrk/mn-devrel, @midnightntwrk/mn-codeowners-docs

Update robots.txt
  static/robots.txt
Owners: @midnightntwrk/mn-techwriting, @midnightntwrk/mn-devrel, @midnightntwrk/mn-codeowners-docs

add fixes
  docs/develop/tutorial/1-using/faucet.mdx
  docs/learn/01-introduction/04-native-token/01-about-dust.mdx
  docusaurus.config.js
  static/bboard/index.ts
  static/robots.txt
  static/welcome/index.ts
Owners: @midnightntwrk/mn-techwriting, @midnightntwrk/mn-devrel, @midnightntwrk/mn-codeowners-docs

Update 2025-04-23-intro-to-web3.mdx
  blog/2025-04-23-intro-to-web3.mdx
Owners: @midnightntwrk/mn-techwriting, @midnightntwrk/mn-devrel, @midnightntwrk/mn-codeowners-docs

chore(deps): update dependency node to v21.7.3
  .nvmrc
Owners: @midnightntwrk/mn-techwriting, @midnightntwrk/mn-devrel, @midnightntwrk/mn-codeowners-docs

fix(deps): update dependency @mdx-js/react to v3.1.1
  yarn.lock
Owners: @midnightntwrk/mn-techwriting, @midnightntwrk/mn-devrel, @midnightntwrk/mn-codeowners-docs

fix(deps): update dependency dayjs to v1.11.18
  yarn.lock
Owners: @midnightntwrk/mn-techwriting, @midnightntwrk/mn-devrel, @midnightntwrk/mn-codeowners-docs

fix(deps): update dependency docusaurus-pushfeedback to v1.0.9
  yarn.lock
Owners: @midnightntwrk/mn-techwriting, @midnightntwrk/mn-devrel, @midnightntwrk/mn-codeowners-docs

fix(deps): update dependency docusaurus-theme-search-typesense to v0.25.0
  yarn.lock
Owners: @midnightntwrk/mn-techwriting, @midnightntwrk/mn-devrel, @midnightntwrk/mn-codeowners-docs

fix(deps): update dependency postprocessing to v6.37.8
  yarn.lock
Owners: @midnightntwrk/mn-techwriting, @midnightntwrk/mn-devrel, @midnightntwrk/mn-codeowners-docs

chore(deps): update dependency @types/node to v20.19.17
  package.json
  yarn.lock
Owners: @midnightntwrk/mn-techwriting, @midnightntwrk/mn-devrel, @midnightntwrk/mn-codeowners-docs

chore(deps): update dependency typescript to v5.9.2
  yarn.lock
Owners: @midnightntwrk/mn-techwriting, @midnightntwrk/mn-devrel, @midnightntwrk/mn-codeowners-docs

chore(deps): update yarn to v4.10.0
  package.json
Owners: @midnightntwrk/mn-techwriting, @midnightntwrk/mn-devrel, @midnightntwrk/mn-codeowners-docs

feat: implement local search functionality
  docusaurus.config.js
  package.json
  src/css/custom.css
  src/theme/DocItem/Content/index.tsx
  src/theme/DocItem/Footer/index.tsx
  src/theme/DocItem/Footer/styles.module.css
  src/theme/DocItem/Layout/index.tsx
  src/theme/DocItem/Layout/styles.module.css
  src/theme/DocItem/Metadata/index.tsx
  src/theme/DocItem/Paginator/index.tsx
  src/theme/DocItem/TOC/Desktop/index.tsx
  src/theme/DocItem/TOC/Mobile/index.tsx
  src/theme/DocItem/TOC/Mobile/styles.module.css
  src/theme/DocItem/index.tsx
  src/theme/DocRoot/Layout/Main/index.tsx
  src/theme/DocRoot/Layout/Main/styles.module.css
  src/theme/DocRoot/Layout/Sidebar/ExpandButton/index.tsx
  src/theme/DocRoot/Layout/Sidebar/ExpandButton/styles.module.css
  src/theme/DocRoot/Layout/Sidebar/index.tsx
  src/theme/DocRoot/Layout/Sidebar/styles.module.css
  src/theme/DocRoot/Layout/index.tsx
  src/theme/DocRoot/Layout/styles.module.css
  src/theme/DocRoot/index.tsx
  src/theme/DocSidebar/Desktop/CollapseButton/index.tsx
  src/theme/DocSidebar/Desktop/CollapseButton/styles.module.css
  src/theme/DocSidebar/Desktop/Content/index.tsx
  src/theme/DocSidebar/Desktop/Content/styles.module.css
  src/theme/DocSidebar/Desktop/index.tsx
  src/theme/DocSidebar/Desktop/styles.module.css
  src/theme/DocSidebar/Mobile/index.tsx
  src/theme/DocSidebar/index.tsx
  yarn.lock
Owners: @midnightntwrk/mn-techwriting, @midnightntwrk/mn-devrel, @midnightntwrk/mn-codeowners-docs

cleanup: remove unused Typesense search components
  markdown-indexer.js
  package.json
  src/components/TypesenseSearch.js
  typesense-indexer.js
  yarn.lock
Owners: @midnightntwrk/mn-techwriting, @midnightntwrk/mn-devrel, @midnightntwrk/mn-codeowners-docs

fix: update repository configuration in docusaurus.config.js
  docusaurus.config.js
Owners: @midnightntwrk/mn-techwriting, @midnightntwrk/mn-devrel, @midnightntwrk/mn-codeowners-docs

fix: regenerate yarn.lock for CI consistency
  yarn.lock
Owners: @midnightntwrk/mn-techwriting, @midnightntwrk/mn-devrel, @midnightntwrk/mn-codeowners-docs

add search verification to robots.txt
  static/robots.txt
Owners: @midnightntwrk/mn-techwriting, @midnightntwrk/mn-devrel, @midnightntwrk/mn-codeowners-docs

test
  docs/learn/04-glossary.mdx
Owners: @midnightntwrk/mn-techwriting, @midnightntwrk/mn-devrel, @midnightntwrk/mn-codeowners-docs

feat: add local search functionality to docs site
  docusaurus.config.js
  package-lock.json
  package.json
  yarn.lock
Owners: @midnightntwrk/mn-techwriting, @midnightntwrk/mn-devrel, @midnightntwrk/mn-codeowners-docs

feat: add local search functionality to docs site
  package-lock.json
  package.json
  yarn.lock
Owners: @midnightntwrk/mn-techwriting, @midnightntwrk/mn-devrel, @midnightntwrk/mn-codeowners-docs

switch to npm for dependency management
  yarn.lock
Owners: @midnightntwrk/mn-techwriting, @midnightntwrk/mn-devrel, @midnightntwrk/mn-codeowners-docs
